<a href="https://colab.research.google.com/github/CarlosRivera4726/Inmersion_Datos_ALURA/blob/main/Inmersion_datos_Aula_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

#Ruta de acceso
PATH: '/content/drive/MyDrive/inmersion_datos/inmuebles_bogota.csv'

In [3]:
import pandas as pd

inmuebles = pd.read_csv('/content/drive/MyDrive/inmersion_datos/inmuebles_bogota.csv')

inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [ ]:
inmuebles.shape

(9520, 8)

In [ ]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Banos', 'Area', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [ ]:
columnas = {'Baños':'Banos','Área':'Area'}
inmuebles = inmuebles.rename(columns=columnas)
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
398,Apartamento,Apartamento en venta en Cedritos,2,2,63,Cedritos,Usaquén,$ 330.000.000
5783,Casa,Casa en venta en Zona Noroccidental,4,3,185,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 850.000.000
5807,Apartamento,Apartamento en venta en Quinta Paredes,2,3,153,Quinta Paredes,Teusaquillo,$ 739.000.000
5226,Apartamento,Apartamento en venta en Bosa,3,1,57,Bosa,Bosa Central,$ 145.000.000
3605,Apartamento,Apartamento en venta en Chico Norte,3,4,120,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 660.000.000
9217,Apartamento,Apartamento en venta en Nueva Autopista,1,2,53,Nueva Autopista,Los Cedros,$ 331.000.000
3218,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,73,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 355.000.000
2177,Casa,Casa en venta en Puente Aranda,7,3,147,Puente Aranda,PUENTE ARANDA: Zona Industrial + Puente Aranda,$ 620.000.000
2054,Casa,Casa en venta en Barrios Unidos,3,3,102,Barrios Unidos,Los Andes,$ 360.000.000
3858,Apartamento,Apartamento en venta en Zona Noroccidental,3,1,44,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 176.500.000

In [ ]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 669.4+ KB

In [ ]:
inmuebles.iloc[300:305]

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
300,Apartamento,Apartamento en venta en Kennedy,2,1,42,Kennedy,Kennedy Central,$ 116.100.000
301,Apartamento,Apartamento en venta en Chico Norte,2,2,95,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 980.000.000
302,Apartamento,Apartamento en venta en Kennedy,3,2,54,Kennedy,Kennedy Central,$ 237.000.000
303,Apartamento,Apartamento en venta en Kennedy,3,2,67,Kennedy,Kennedy Central,$ 320.000.000
304,Apartamento,Apartamento en venta en Cedritos,4,4,132,Cedritos,Usaquén,$ 530.000.000

In [ ]:
inmuebles['Valor'][300]

'$ 116.100.000'

In [ ]:
inmuebles['Valor'][300:305]

300    $ 116.100.000
301    $ 980.000.000
302    $ 237.000.000
303    $ 320.000.000
304    $ 530.000.000
Name: Valor, dtype: object

In [ ]:
inmuebles.Area.mean()

146.66470588235293

In [ ]:
inmuebles.sample(100)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
4391,Apartamento,Apartamento en venta en Salitre,3,2,85,Salitre,ENGATIVÁ: Santa Cecilia + Jardín Botánico,$ 630.000.000
8362,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,75,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 310.000.000
5939,Apartamento,Apartamento en venta en Zona Noroccidental,2,2,51,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 245.500.000
5187,Apartamento,Apartamento en venta en Chico Norte,2,3,114,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 820.000.000
4511,Apartamento,Apartamento en venta en Colina Campestre,3,2,112,Colina Campestre,Niza,$ 690.000.000
...,...,...,...,...,...,...,...,...
9220,Apartamento,Apartamento en venta en Santa Barbara,3,3,172,Santa Barbara,USAQUÉN: Country Club + Santa Bárbara,$ 799.000.000
752,Apartamento,Apartamento en venta en Bosa,3,1,53,Bosa,Bosa Central,$ 140.000.000
1954,Apartamento,Apartamento en venta en Santa Barbara,2,2,70,Santa Barbara,USAQUÉN: Country Club + Santa Bárbara,$ 600.000.000
3864,Apartamento,Apartamento en venta en Usaquén,3,2,101,Usaquén,Usaquén,$ 710.000.000
6772,Apartamento,Apartamento en venta en Usaquén,1,2,51,Usaquén,Usaquén,$ 380.000.000

In [ ]:
(inmuebles.Barrio == 'Chico Reservado')

0       False
1       False
2        True
3       False
4       False
        ...
9515    False
9516    False
9517    False
9518    False
9519    False
Name: Barrio, Length: 9520, dtype: bool

In [ ]:
sum((inmuebles.Barrio == 'Chico Reservado'))

225

In [ ]:
inmuebles_chico = (inmuebles.Barrio == 'Chico Reservado')

In [ ]:
chico_reservado = inmuebles[inmuebles_chico]
chico_reservado

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
39,Apartamento,Apartamento en venta en Chico Reservado,1,1,64,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 495.000.000
72,Apartamento,Apartamento en venta en Chico Reservado,1,1,64,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 495.000.000
126,Apartamento,Apartamento en venta en Chico Reservado,3,4,150,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.300.000.000
143,Apartamento,Apartamento en venta en Chico Reservado,2,4,104,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.100.000.000
...,...,...,...,...,...,...,...,...
9299,Apartamento,Apartamento en venta en Chico Reservado,3,3,148,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 780.000.000
9335,Apartamento,Apartamento en venta en Chico Reservado,3,3,176,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 850.000.000
9341,Apartamento,Apartamento en venta en Chico Reservado,2,3,118,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 700.000.000
9472,Apartamento,Apartamento en venta en Chico Reservado,3,1,49,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 200.000.000
9506,Apartamento,Apartamento en venta en Chico Reservado,3,4,390,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 3.200.000.000

In [ ]:
chico_reservado.Area.mean()

142.78666666666666